label {
    font-weight: 700;
    display: flex;
    margin-bottom: 5px;
  }
  
  input[type='date'],
  input[type='number'],
  select {
    display: block;
    width: 400px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.4;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-control {
    margin-bottom: 20px;
  }

  input[type="submit"]{
    border: none;
    background-color: #495E57;
    color: #fff;
    padding: 0.8rem;
    border-radius: 0.2rem;
    font-weight: 500;
    font-size: medium;
  }

  input[type="submit"]:hover {
    background-color: #F4CE14;
    color: #495E57;
    cursor: pointer;
  }