.feedback-card_container {
    width: 200px;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.3rem;
}

.profile-info {
    display: flex;
    column-gap: 0.8rem;
    align-items: center;
}

.profile-info img {
    width: 34px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
}

.profileData {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
}

.profileData p {
    color: #6E6F6E;
}

.feedback-comment > p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #6E6F6E;
}


