.hero-wrapper {
    background-color: #495E57;
}

.testimonial {
    background-color: #FDF4EE;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.about {
    max-width: 70vw;
    margin: 5rem auto;
}