.specials {
    max-width: 70vw;
    margin: 1rem auto;
    padding: 1rem;
}

.specials-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2 {
    font-family: 'Markazi Text';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
}

.cards {
    display: flex;
    justify-items: center;
    justify-content: space-between;
}