:root {
  /* Colors */
  --primary-color1: #495E57;
  --primary-color2: #F4CE14;
  --secondary-color1: #EE9972;
  --secondary-color2: #FBDABB;
  --secondary-color3: #EDEFEE;
  --secondary-color4: #333333;
  /* Typefaces */
  --font-family1: 'Markazi Text';
  --font-family2: 'Karla';
}

header {
  padding: 1.4rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

header img {
  width: 200px;
  height: 76px;
  object-fit: contain;
}

nav ul {
  display: flex;
  align-items: flex-start;
  column-gap: 1.7rem;
  flex-wrap: wrap;
  justify-content: center;
}

nav li {
  font-family: var(--font-family2);
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2rem;
}

nav li a:hover {
  text-decoration: underline;
}


/* Footer */

footer {
  display: flex;
  padding: 2rem 0;
  flex-wrap: wrap;
  justify-content: center;
}

footer img {
  width: 100px;
  height: 150px;
  object-fit: contain;
}

footer div {
  width: 15rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

footer h4 {
  font-family: var(--font-family2);
  font-weight: 800;
  font-size: 1.2em;
  color: var(--primary-color1);
  margin-bottom: 0.5rem;
}

div > ul > li {
  line-height: 1.5rem;
  font-family: var(--font-family2);
  font-size: 1rem;
  font-weight: 500;
}





