*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-green: #495e57;
  --primary-yellow: #F4CE14;
  --secondary-dark-peach: #EE9972;
  --secondary-light-peach: #FBDABB;
  --highlight-soft-peach: #EDEFEE;
  --highlight-dark-gray: #333333;
  --heading-font-family: Markazi Text;
  --heading-font-size: 5.3rem;
  --description-font-weight: normal;
  --description-font-size: 3.3rem; /* 40pt */
  --lead-font-family: Karla;
  --lead-font-size: 1.5rem;
  --section-title-weight: bolder;
  --section-title-size: 1.2rem;
  --section-category-weight: bolder;
  --section-category-size: 1rem;
  --card-title-weight: bold;
  --card-title-size: 1.5rem; /* 18pt */
  --card-text-weight: normal;
  --card-text-size: 1.3rem; /* 16pt */
  --card-description-line-height: 1.5;
  --highlight-text-weight: medium;
  --highlight-text-size: 1.3rem; /* 16pt */
  --border-radius: 1rem;
  --container-margin: 1.2rem 18.2rem;
}

body {
  font-family: var(--lead-font-family);
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
}



